<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账本 - __WEBTIT__</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/qxqlan.css">
    <link rel="stylesheet" href="__CSS__/zbn.css">
    <link rel="stylesheet" href="__ICONF__/qxqicon.css">
    <link rel="stylesheet" href="__ICONF__/bootstrap-icons.min.css">

</head>
<body>

 {include file="common"}
 {include file="menu"}
<div class="container-fluid p-0">
    <div id="topzw"></div> 
    <div class="ls-ledger-header ls-left-padding20">
        <div class="ls-title-container">
            <a href="{:url('index/zhangben/index')}" class="ls-back-button">
                <i class="bi bi-arrow-left-circle"></i> 
            </a>
            <h1 class="ls-ledger-title">
                账本设置 <span class="ls-ftitle">账本名</span>
            </h1>
        </div>
    </div>
    <div id="jzcon">
            <div class="zw-bottom"> </div>
    </div>
</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/zh.js"></script>
<script src="__JS__/bootstrap.bundle.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>

</body>
</html>
