@font-face {
  font-family: "qxqicon"; /* Project id 4945864 */
  src: url('fonts/iconfont.woff2?t=1756297797995') format('woff2'),
       url('fonts/iconfont.woff?t=1756297797995') format('woff'),
       url('fonts/iconfont.ttf?t=1756297797995') format('truetype');
}

.qxqicon {
  font-family: "qxqicon" !important;
  font-size: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qxq-xiangyou:before {
  content: "\e688";
}

.qxq-jinri:before {
  content: "\e689";
}

.qxq-left:before {
  content: "\e68a";
}

.qxq-xiangzuojiantou:before {
  content: "\e74f";
}

.qxq-sousuo:before {
  content: "\1020c";
}

.qxq-renyuan:before {
  content: "\e687";
}

.qxq-zbshezhi:before {
  content: "\e685";
}

.qxq-keluo_yonghuzhuce:before {
  content: "\e686";
}

.qxq-fenggeshezhi:before {
  content: "\e684";
}

.qxq-shezhi:before {
  content: "\e69e";
}

.qxq-huojian:before {
  content: "\e681";
}

.qxq-mimashezhi:before {
  content: "\e682";
}

.qxq-tuichu:before {
  content: "\e683";
}

.qxq-gerenxinxi:before {
  content: "\e680";
}

.qxq-yinhangkaduoka:before {
  content: "\e67f";
}

.qxq-zichan:before {
  content: "\e6aa";
}

.qxq-zhangben1:before {
  content: "\e67b";
}

.qxq-kabao:before {
  content: "\e67a";
}

.qxq-kahao:before {
  content: "\e67e";
}

.qxq-jine:before {
  content: "\e7d1";
}

.qxq-yinhang:before {
  content: "\e830";
}

.qxq-yinlian:before {
  content: "\e658";
}

.qxq-visa:before {
  content: "\e83b";
}

.qxq-mastercard:before {
  content: "\e81e";
}

.qxq-jiaka:before {
  content: "\e670";
}

.qxq-rili1:before {
  content: "\e602";
}

.qxq-rili2:before {
  content: "\e642";
}

.qxq-rili4:before {
  content: "\e643";
}

.qxq-rili3:before {
  content: "\e645";
}

.qxq-rili5:before {
  content: "\e646";
}

.qxq-rili7:before {
  content: "\e647";
}

.qxq-rili8:before {
  content: "\e648";
}

.qxq-rili11:before {
  content: "\e649";
}

.qxq-rili9:before {
  content: "\e64a";
}

.qxq-rili12:before {
  content: "\e64c";
}

.qxq-rili10:before {
  content: "\e64d";
}

.qxq-rili13:before {
  content: "\e64e";
}

.qxq-rili14:before {
  content: "\e654";
}

.qxq-rili6:before {
  content: "\e659";
}

.qxq-rili15:before {
  content: "\e65a";
}

.qxq-rili17:before {
  content: "\e65b";
}

.qxq-rili16:before {
  content: "\e65c";
}

.qxq-rili18:before {
  content: "\e660";
}

.qxq-rili19:before {
  content: "\e661";
}

.qxq-rili21:before {
  content: "\e662";
}

.qxq-rili20:before {
  content: "\e663";
}

.qxq-rili24:before {
  content: "\e664";
}

.qxq-rili22:before {
  content: "\e665";
}

.qxq-rili25:before {
  content: "\e666";
}

.qxq-rili23:before {
  content: "\e667";
}

.qxq-rili27:before {
  content: "\e668";
}

.qxq-rili26:before {
  content: "\e669";
}

.qxq-rili29:before {
  content: "\e66b";
}

.qxq-rili28:before {
  content: "\e66d";
}

.qxq-rili31:before {
  content: "\e66e";
}

.qxq-rili30:before {
  content: "\e66f";
}

.qxq-yueli:before {
  content: "\ebde";
}

.qxq-nianli:before {
  content: "\ebe1";
}

.qxq-zhangben:before {
  content: "\e63b";
}

.qxq-liushui:before {
  content: "\e63d";
}

.qxq-tongji:before {
  content: "\e641";
}

.qxq-jieru-huan:before {
  content: "\e63f";
}

.qxq-jiechu-huan:before {
  content: "\e640";
}

.qxq-xianjin:before {
  content: "\e802";
}

.qxq-boc:before {
  content: "\e64f";
}

.qxq-icbc:before {
  content: "\e650";
}

.qxq-ccb:before {
  content: "\e651";
}

.qxq-abc:before {
  content: "\e653";
}

.qxq-psbc:before {
  content: "\e657";
}

.qxq-weixin:before {
  content: "\e635";
}

.qxq-zhifubao:before {
  content: "\e652";
}

.qxq-vip1:before {
  content: "\e671";
}

.qxq-vip2:before {
  content: "\e672";
}

.qxq-vip3:before {
  content: "\e673";
}

.qxq-vip4:before {
  content: "\e674";
}

.qxq-vip5:before {
  content: "\e675";
}

.qxq-vip6:before {
  content: "\e676";
}

.qxq-vip7:before {
  content: "\e677";
}

.qxq-vip8:before {
  content: "\e678";
}

.qxq-vip9:before {
  content: "\e679";
}

.qxq-VIP:before {
  content: "\e634";
}

.qxq-sys-banquan:before {
  content: "\e6d5";
}

.qxq-sys-nianfen:before {
  content: "\e6ca";
}

.qxq-nver:before {
  content: "\e636";
}

.qxq-erzi:before {
  content: "\e63a";
}

.qxq-jiaju:before {
  content: "\e632";
}

.qxq-naicha:before {
  content: "\10121";
}

.qxq-xiaochi:before {
  content: "\e633";
}

.qxq-renqing:before {
  content: "\e630";
}

.qxq-shengri:before {
  content: "\e631";
}

.qxq-hunli:before {
  content: "\e628";
}

.qxq-juhui:before {
  content: "\e617";
}

.qxq-yinger:before {
  content: "\e62c";
}

.qxq-fangda:before {
  content: "\e627";
}

.qxq-yifu:before {
  content: "\e61c";
}

.qxq-kuzi:before {
  content: "\e87b";
}

.qxq-qunzi:before {
  content: "\e62d";
}

.qxq-xie:before {
  content: "\e90a";
}

.qxq-chongwu:before {
  content: "\e6c1";
}

.qxq-gongju:before {
  content: "\e622";
}

.qxq-baobao:before {
  content: "\e65d";
}

.qxq-wazi:before {
  content: "\e623";
}

.qxq-shipin:before {
  content: "\e624";
}

.qxq-shoubiao:before {
  content: "\e62a";
}

.qxq-tingchefei1:before {
  content: "\e65f";
}

.qxq-chaju:before {
  content: "\e709";
}

.qxq-chaye:before {
  content: "\e621";
}

.qxq-jieru:before {
  content: "\e62f";
}

.qxq-jiechu:before {
  content: "\e62e";
}

.qxq-ditie:before {
  content: "\e66c";
}

.qxq-dianyingpiao:before {
  content: "\e61a";
}

.qxq-ktv:before {
  content: "\e644";
}

.qxq-baojianping:before {
  content: "\e63e";
}

.qxq-yiyuanguahao:before {
  content: "\e61b";
}

.qxq-peixun:before {
  content: "\e629";
}

.qxq-youxi:before {
  content: "\e77a";
}

.qxq-menpiao:before {
  content: "\e8b1";
}

.qxq-shuji:before {
  content: "\e6c3";
}

.qxq-shebao:before {
  content: "\e6e7";
}

.qxq-tijian:before {
  content: "\e855";
}

.qxq-kaoshi:before {
  content: "\e639";
}

.qxq-menzhen:before {
  content: "\e656";
}

.qxq-xingquban-01:before {
  content: "\e6e3";
}

.qxq-yaopinjiage:before {
  content: "\e626";
}

.qxq-baoxian:before {
  content: "\e61e";
}

.qxq-feiji:before {
  content: "\e655";
}

.qxq-lunchuan:before {
  content: "\e68b";
}

.qxq-dianpuhuiyuan:before {
  content: "\e619";
}

.qxq-kuandaifei:before {
  content: "\e6a5";
}

.qxq-evip:before {
  content: "\e620";
}

.qxq-huafei:before {
  content: "\e6a2";
}

.qxq-gongjiao:before {
  content: "\e618";
}

.qxq-baoyang:before {
  content: "\e64b";
}

.qxq-dishi:before {
  content: "\e65e";
}

.qxq-nuanqifei:before {
  content: "\e66a";
}

.qxq-ranqifei:before {
  content: "\e6ab";
}

.qxq-jiayoufei:before {
  content: "\e638";
}

.qxq-chexian:before {
  content: "\e61d";
}

.qxq-shuifei:before {
  content: "\e625";
}

.qxq-wuye:before {
  content: "\e6b2";
}

.qxq-dianfei:before {
  content: "\e6c4";
}

.qxq-fangdai:before {
  content: "\e779";
}

.qxq-xinlicai:before {
  content: "\e615";
}

.qxq-shicai:before {
  content: "\e61f";
}

.qxq-canting:before {
  content: "\e950";
}

.qxq-licai:before {
  content: "\e616";
}

.qxq-waimai:before {
  content: "\e62b";
}

.qxq-zulin:before {
  content: "\e614";
}

.qxq-zujin:before {
  content: "\e600";
}

.qxq-lixi:before {
  content: "\e60a";
}

.qxq-gupiao:before {
  content: "\e60b";
}

.qxq-yinliao:before {
  content: "\e601";
}

.qxq-xishuyongpin:before {
  content: "\e603";
}

.qxq-xiyuyongpin:before {
  content: "\e605";
}

.qxq-wenju:before {
  content: "\e606";
}

.qxq-tiaoliao:before {
  content: "\e607";
}

.qxq-shuiguo:before {
  content: "\e608";
}

.qxq-mimian:before {
  content: "\e609";
}

.qxq-huazhuangpin:before {
  content: "\e60c";
}

.qxq-hufupin:before {
  content: "\e60e";
}

.qxq-chuju:before {
  content: "\e60f";
}

.qxq-canju:before {
  content: "\e610";
}

.qxq-youeryongpin:before {
  content: "\e612";
}

.qxq-jiangjin:before {
  content: "\e613";
}

.qxq-yinhangka:before {
  content: "\e637";
}

.qxq-jianzhi:before {
  content: "\e604";
}

.qxq-maobi:before {
  content: "\e6a4";
}

.qxq-qianbi:before {
  content: "\e63c";
}

.qxq-yumaobi:before {
  content: "\e60d";
}

.qxq-wo:before {
  content: "\e611";
}

.qxq-nanren:before {
  content: "\e67c";
}

.qxq-nvren:before {
  content: "\e67d";
}

.qxq-shouye:before {
  content: "\e696";
}

.qxq-jiedai:before {
  content: "\e6c2";
}

.qxq-jiedai01:before {
  content: "\e704";
}

